body, html {
margin:0;
overflow:hidden;
}
#messages{
       position:absolute;
       z-index:2;
       bottom:300px;
       right:0;
       width:200px;
       height:20px;
   }
   
   a img{
       border:0;
   }
body {
	background-color:#FFFFFF;
	color:#000000;
	font-size: 13px;
	font-family:  Arial, sans-serif;
	line-height:19px;
	border-spacing:0;
	word-spacing: 0px;
	letter-spacing: 1px;
	z-index:1;
}

#background_image{
    width:100%;
    height:100%;
}

html, body { height: 100%; width: 100%; margin: 0; padding: 0; } 
   #content{
       position:absolute;
       z-index:2;
       margin:40px 40px;
   }
   h1{
       font-size:50px;
        font-family:Arial, Helvetica, sans;
       line-height:41px;
       margin:0;
   }
   .kerned{
       letter-spacing:-2px;
   }
   #test_message{
       position:absolute;
       z-index:2;
       top:0;
       right:30px;
       width:100px;
       height:20px;
   }

a{
    color:#000000;
    text-decoration:none;
}
a:hover, a.relevant{
    color:#dc0000;
}

a.active{
    color:#dc0000;
    text-decoration:underline;
}
.column{
	width:183px;
    position:absolute;
}
.column a{
    display:block;
}
p.no_title{
    margin-top:31px;
    padding:0;
}

/*183+23 colukn width*/
/* 215, 430, 645, 860, 1075*/
/*
>>> for i in range(0,9):
...     print "#column%s { left: %spx }" % (i, i*(183+23))
*/

#column0 { left: 0px }
#column1 { left: 206px }
#column2 { left: 412px }
#column3 { left: 618px }
#column4 { left: 824px }
#column5 { left: 1030px }
#column6 { left: 1236px }
#column7 { left: 1442px }
#column8 { left: 1648px }

#loader{
    position:absolute;
    left: 48px;
    top:85px;
    z-index:10;
}
   hr{
       height:1px;
       border: 0;
       margin:0;
       margin-top:9px;
       margin-bottom:7px;
       color:transparent;
       background-image:url('media/images/dot.png');
   }
   h2{
       text-transform:uppercase;
       margin:0;
       margin-bottom:1em;
       padding:0;
       font-size:1em;
       font-weight:normal;
       letter-spacing:1px;
   }
   p{
       margin-top:0px;
   }

   .big_link{
       text-transform:uppercase;
          color:#dc0000;
          text-decoration:none;
   }
   ul{
       margin:0;
       padding:0;
   }
   li{
       list-style:none;
   }
   #mark{
       position:absolute;
       
   }
   #mark p{
       margin-top:8px;
       text-align:center;
   }
   a{
       outline:none;
   }
   
   #bg { position: fixed; top: 0; left: 0; }
   .bgwidth { width: 100%; height:auto;}
   .bgheight { height: 100%; height:auto;}